#calculator{
    height: 100vh;
    background-color: blueviolet;
    border-radius: 12px;
    color: white;
}

#layar{
    background-color: rgb(226, 221, 231, 0.3);
    /* background-color: rgb(183, 119, 242); */
    height: 45vh;
    border-radius: 16px 16px 0 0;
    position: relative;
}
#papan-tombol{
    background-color: rgb(92, 35, 145, 0.2);
    height: 45vh;
    border-radius: 0 0 16px 16px;
    font-weight: bold;
}
#theme{
    height: 42px;
}

.theme-icon{
    display: inline-block;
    padding: 3px;
}
.theme-icon:hover{
    cursor: pointer;
}
.sun{
    margin-right: 5px;
}

/* inpu style untuk inputan */
.text{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
.text-besar{
    font-size: 1.5rem;
    font-weight: bold;
}

/* style untuk setiap tombol */
.row > .col{
    height: 2rem;
    margin: 12px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(92, 35, 145, 0.5);
    box-shadow: 2px 3px rgba(198, 191, 204, 0.1);
}
.row > .col:hover{
    cursor: pointer;
}